* {
    box-sizing: border-box;
}

#root, body, main {
    min-width: 100%;
    min-height: 100vh;
    max-height: 100vh;
    margin: 0 !important;
    background-color: #f2f2f2;
}

.main-content-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-basis: 1;
}

.main-content-container div {
    width: 30rem;
    height: 5rem;
    padding-left: 20px;
    background-color: white;
    box-shadow: 1px 3px 2px lightgrey;
    border: none;
    border-radius: 10px;
    transition: all 0.5s ease-out;
}

.main-content-container div:hover {
    cursor: pointer;
    transform: perspective(50px) translateZ(3px);
    box-shadow: 1px 5px 5px lightgrey;
}